.app {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.app-header-toolbar {
  margin: 0;
  background: #88888d;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.workspace {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.input-card{
  margin: 0;
  flex-grow: 0;
  background: #eeeef4;
}

.chart-card {
  /*margin: 0;*/
  margin: 0;
  padding: 0;
  flex-grow: 1;
  background: #aaaaae;
}
