<div class="app">

  <md-toolbar class="app-header-toolbar">
    <h3>nodeaction</h3>
  </md-toolbar>

  <div class="workspace">

    <md-card class="input-card">

      <md-card-actions>
        <button md-raised-button (click)="handleClick_randomize()">Randomize.</button>
      </md-card-actions>

      <md-input-container>
        <input mdInput name="addressInput"
               placeholder="address" maxlength="11"
               [(ngModel)]="address"/>
      </md-input-container>

      <md-input-container>
        <input mdInput name="depthInput"
               placeholder="depth" maxlength="1" type="number"
               [(ngModel)]="depth"/>
      </md-input-container>

      <md-card-actions>
        <button md-raised-button (click)="handleClick_getData()">Go.</button>
      </md-card-actions>

    </md-card>

    <md-card class="chart-card">

      <ngx-charts-force-directed-graph
        [view]="view"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [scheme]="colorScheme"
        [nodes]="nodes"
        [links]="links"
      >

      </ngx-charts-force-directed-graph>


      <!--[view]="view"-->
      <!--[scheme]="colorScheme"-->
      <!--[results]="multi"-->
      <!--[gradient]="gradient"-->
      <!--[xAxis]="showXAxis"-->
      <!--[yAxis]="showYAxis"-->
      <!--[legend]="showLegend"-->
      <!--[showXAxisLabel]="showXAxisLabel"-->
      <!--[showYAxisLabel]="showYAxisLabel"-->
      <!--[xAxisLabel]="xAxisLabel"-->
      <!--[yAxisLabel]="yAxisLabel"-->
      <!--[autoScale]="autoScale"-->
      <!--(select)="onSelect($event)">-->


    </md-card>

  </div>
</div>
